<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
</head>
<div class="col-auto col-md-2 col-xl-1 px-sm-1 px-0 bg-dark">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <div class="text-center">
                <img src="/img/onestopservers.png" class="img-fluid" alt="Logo">
            </div>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="nav-item">
                <a href="" class="nav-link align-middle px-0">
                    <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle dropdown-toggle">
                    <i class="fs-4 bi-clipboard-data"></i> <span class="ms-1 d-none d-sm-inline">Databases</span> </a>
                <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                    <li class="w-100">
                        <a href="/admin/dashboard/database?database=users" class="nav-link px-0 ms-lg-4"> <i
                                class="fs-6 bi-people"></i>
                            <span class="ms-2 d-none d-sm-inline">Users</span>
                        </a>
                    </li>
                    <li class="w-100">
                        <a href="/admin/dashboard/database?database=servers" class="nav-link px-0 ms-lg-4"> <i
                                class="fs-6 bi-hdd-rack-fill"></i>
                            <span class="ms-2 d-none d-sm-inline">Servers</span>
                        </a>
                    </li>
                    <li class="w-100">
                        <a href="/admin/dashboard/database?database=versions" class="nav-link px-0 ms-lg-4"> <i
                                class="fs-6 bi-tags-fill"></i>
                            <span class="ms-2 d-none d-sm-inline">Tags & Versions</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>