<form action="/login" method="POST" class="my-4 form-inline">
    <div class="row my-4">
        <input required type="text" name="email" id="email" placeholder="EMAIL" class="col-12 mr-2">
    </div>
    <div class="row my-4">
        <input required type="text" name="password" id="password" placeholder="PASSWORD" class="col-12 mr-2">
    </div>
    <div class="row my-4">
        <h5>Don't have an account?</h5>
        <a href="createaccount">Create Account</a>
    </div>
    <button class="btn btn-success" type="submit">LOGIN</button>
</form>