<head>
  <link rel="stylesheet" type="text/css" href="/font/bootstrap-icons.css" />
  <link rel="stylesheet" type="text/css" href="/css/navbar.css" />
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/general.css">

</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="navbar">
  <div class="container-xl">
    <a class="navbar-brand" href="/">LOGOHERE</a>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
      aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/"><i class="bi mx-2 bi-house-fill"></i>Home</a>
        </li>
      </ul>
      <form class="d-flex me-3">
        <input class="form-control me-md-2 me-sm-0" type="text" placeholder="Search Server" aria-label="Search">
        <button class="btn itemoutline hoverable" type="submit">Search</button>
      </form>
      <a href="/login" class="btn btn-primary px-5" role="button">Login</a>
    </div>
  </div>
</nav>
<footer>
  <script src="/jquery.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
</footer>