<!DOCTYPE html>
<html>

    <head>
        <title>404 Error</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
    </head>

    <body>
        <% if (loggedIn) { %>
        <%- include('components/loggedinnavbar') %>
    <% } else { %>
        <%- include('components/navbar') %>
    <% } %>
    <div class="container-fluid">
        <div class="alert alert-danger text-center mt-3" role="alert">
            <i class="bi mx-2 bi-check-circle-fill"></i>404 Error: I am sorry, this page does not exist!
        </div>
    </div>
    
</body>

</html>