<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <%- include('components/generalcss') %>
    <%- include('components/generalscript') %>
</head>

<body>
    <div class="container-fluid">
        <% if (loggedIn) { %>
            <%- include('components/loggedinnavbar') %>
        <% } else { %>
            <%- include('components/navbar') %>
        <% } %>
        
    </div>
    Hello, world!
    
</body>

</html>