<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <%- include('components/generalcss') %>
    <%- include('components/generalscript') %>
</head>

<body>
    <% if (loggedIn) { %>
        <%- include('components/loggedinnavbar') %>
    <% } else { %>
        <%- include('components/navbar') %>
    <% } %>
    <div class="container-fluid">
        
        
    </div>
    Hello, world!
    
</body>

</html>