<!DOCTYPE html>
<html>

<head>
    <title>Profile</title>
</head>

<body>
    <% if (loggedIn) { %>
        <%- include('components/loggedinnavbar') %>
    <% } else { %>
        <%- include('components/navbar') %>
    <% } %>
    <div class="container-fluid">
        <%- useremail -%> 
    </div>
    
</body>

</html>