:root {
    --background: #0b0C10;
    --lightbackground: #1F2833;
    --foggywhite: #C5C6C7;
    --bluehighlight: #66fcf2bd;
    --bluestatic: #45A29E;
    --transitionduration: .25s;
}
body {
    overflow-x: hidden;
    background-color: var(--background);
    color: var(--foggywhite) !important;
}
.bg-dark {
    background-color: var(--lightbackground) !important;
    color: var(--foggywhite) !important;
}
.btn-primary{
    color: var(--foggywhite);
    background-color: var(--bluestatic);
    border-color: var(--bluestatic);
}
.btn-primary:hover{
    background-color: var(--bluehighlight);
}
.card {
    background-color: var(--lightbackground);
    color: var(--foggywhite);
}
.bi, .nav-link::after, .nav-link {
    color: var(--foggywhite) !important;
    transition-duration: .25s !important;
}
li {
    list-style-type: none;
    color: var(--foggywhite);
} 
.bi:hover, .nav-link:hover:after, .nav-link:hover {
    color: var(--bluehighlight) !important;
}
.menu {
    background-color: var(--lightbackground);
    color: var(--foggywhite);
    transition-duration: var(--transitionduration);
}
.menu:hover {
    background-color: var(--background);
    color:var(--bluehighlight)
}
.itemoutline {
    border-color: var(--bluestatic);
    background-color: var(--lightbackground);
    color: var(--bluestatic);
    transition-duration: var(--transitionduration);
}
.itemoutline.hoverable:hover  {
    border-color: var(--bluehighlight);
    background-color: var(--lightbackground);
    color: var(--bluehighlight);
}
a {
    color: var(--bluestatic);
    transition-duration: var(--transitionduration);
}
a:hover {
    color: var(--bluehighlight);
}